@import "variables.scss";
@import "mixins.scss";

h1{
    color: $dark;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $dark;
    }
    &-danger{
        background: $danger;
        color: $light;
    }
    &-warning{
        background: $Warning;
        color: $light;
        @include camion(red);
    }
}


h1{
    @include camion(red);
}

%alert{
    padding: 30px;
    font-size: 10px;
    border: 1px solid $dark;
}
.alert-danger{
    @extend %alert;
    background: $danger;
    color: $light;

}
.alert-warning{
    @extend %alert;
    background: $danger;

}
.alert-light{
    @extend %alert
}